body {
    font-family: 'Roboto', sans-serif;
    background: #F2F2F2;
    margin: 0;
    padding: 0;
}

#bodyWrapper {
    display: grid;
    grid-template-columns: 0.5fr 13fr 0.5fr;
    grid-template-areas:
        " nav nav nav "
        " header header header "
        " . aboutME . "
        " . aboutSite . "
        " . themes . "
        " footer footer footer ";
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    background-image: url(Assets/images/LARGE/1x/bodyBG.png);
    background-blend-mode: color;
}

/*******NAVBAR SECTION**************/
#navBar {
    grid-area: nav;
    color: #F2F2F2;
    background: #000100;
    padding: 3px;
    z-index: 1;
}

#navBar {
    display: inline-block;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 3fr 0.5fr;
    grid-template-areas: " . logos . links . ";
    overflow: hidden;
    position: fixed;
    width: 100%;
    align-content: center;
}

#linkContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#linkContainer ul li {
    font-size: 20px;
}

#logoContainer {
    margin-top: 10%;
    grid-area: logos;
    width: 100%;
    height: 100%;
    align-self: center;
}

#logo img {
    padding-top: 4px;
    height: 50px;
    left: 50%;
}

#linkContainer {
    align-self: center;
    grid-area: links;
    display: grid;
    text-align: center;
}

#linkContainer a:link {
    color: #FAF6F3;
    background-color: #000100;
    padding: 14px 40px;
    text-decoration: none;
    display: inline-block;
}

#linkContainer a:visited {
    color: #FAF6F3;
    background-color: #000100;
    padding: 14px 40px;
    text-decoration: none;
    display: inline-block;
}


#linkContainer a:hover,
a:active {
    background-color: #e9302c;
    color: #FAF6F3;
}

/***************HEADER SECTION************/
#header {
    grid-area: header;
    display: grid;
    text-align: center;
}

#header img {
    width: 1920px;
    height: 722px;
    align-self: center;
    margin: 0;
    height: 722px;
}
#headerTextwrapper {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerTextwrapper h1 {
    font-size: 70px;
    color: #e9302c;
    background-color: #fffa;
}
/***************ABOUT ME SECTION************/
#section-aboutME a:link,
a:visited {
    color: #000100;
    text-decoration: none;
}

#section-aboutME {
    grid-area: aboutME;
    background: #248EA6;
    color: #FAF6F3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

#btnAM {
    margin-top: 15px;
    background-color: #FADC3B;
    font-size: 20px;
    width: 18%;
    margin: auto;
}

/***************ABOUT SITE SECTION************/
#section-aboutSITE a:link,
a:visited {
    color: #000100;
    text-decoration: none;
}

#section-aboutSITE {
    margin-top: 10px;
    grid-area: aboutSite;
    color: #000100;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    text-align: center;
    border: solid 2px #E9302C;
}

/*#section-aboutSITE :hover {}*/

#btnAS {
    margin-top: 15px;
    background-color: #FADC3B;
    font-size: 20px;
    width: 18%;
    margin: auto;
}

/***************THEMES SECTION************/
#section-Themes a:link,
a:visited {
    color: #000100;
    text-decoration: underline;
}

#section-Themes :hover {
    background-color: #FADC3B;
}

#section-Themes {
    grid-area: themes;
    background: #F2F2F2;
    border: solid 2px #FADC3B;
}

#section-Themes h2 {
/*    color: 2F2420;*/
    color: 000100;
}

#themesTitle {
    grid-area: themesTitle;
    text-align: center;
}

.themeContainers {
    grid-area: container;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "themeHeader img"
        ". txt";
}

.themesTxt {
    grid-area: txt;
    padding-bottom:0px;
    padding-left:20px;
    padding-right:20px;
    margin-top: 0px;
    vertical-align: middle;
    text-align: left;
}

.themeHeader {
    margin: 0;
    grid-area: themeHeader;
    align-self: center;
    text-align: center;
    display: block<
}
.themesImg {
    grid-area: img;
    height: 200px; /* placeholder height*/
    width: 100%;
}
/***************FOOTER SECTION************/
#footer {
    grid-area: footer;
    background: #000100;
    color: #FAF6F3;
}
/***************MEDIA QUERIES************/
