body {
    font-family: 'Roboto', sans-serif;
    background: #F2F2F2;
    margin: 0;
    padding: 0;
}

/*******NAVBAR SECTION**************/
#navBar {
    grid-area: nav;
    color: #F2F2F2;
    background: #000100;
    padding: 3px;
    z-index: 1;
}

#navBar {
    display: inline-block;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 3fr 0.5fr;
    grid-template-areas: " . logos . links . ";
    overflow: hidden;
    position: fixed;
    width: 100%;
    align-content: center;
}

#linkContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#linkContainer ul li {
    font-size: 20px;
}

#logoContainer {
    margin-top: 10%;
    grid-area: logos;
    width: 100%;
    height: 100%;
    align-self: center;
}

#logo img {
    padding-top: 4px;
    height: 50px;
    left: 50%;
}

#linkContainer {
    align-self: center;
    grid-area: links;
    display: grid;
    text-align: center;
}

#linkContainer a:link {
    color: #FAF6F3;
    background-color: #000100;
    padding: 14px 40px;
    text-decoration: none;
    display: inline-block;
}

#linkContainer a:visited {
    color: #FAF6F3;
    background-color: #000100;
    padding: 14px 40px;
    text-decoration: none;
    display: inline-block;
}


#linkContainer a:hover,
a:active {
    background-color: #e9302c;
    color: #FAF6F3;
}

/*
.footer {
    display: block;
    width: 100%;
    position: absolute;
    margin: 0;
    background: #000100;
    color: #FAF6F3;
}
*/

/***************HOMEPAGE BELOW************/
/***************HOMEPAGE BELOW************/

#bodyWrapper {
    display: grid;
    grid-template-columns: 0.5fr 13fr 0.5fr;
    grid-template-areas:
        " nav nav nav "
        " header header header "
        " . aboutME . "
        " . aboutSite . "
        " . themes . "
        " footer footer footer ";
    grid-row-gap: 20px;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    background-image: url(Assets/images/LARGE/1x/bodyBG.png);
    background-blend-mode: color;
}

/***************HEADER SECTION************/
#header {
    grid-area: header;
    display: grid;
    text-align: center;
}

#header img {
    width: 100%;
    height: 722px;
    align-self: center;
    margin: 0;
}

#headerTextwrapper {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerTextwrapper h1 {
    font-size: 70px;
    color: #e9302c;
    background-color: #fffa;
}

/***************ABOUT ME SECTION************/
#section-aboutME a:link,
a:visited {
    color: #000100;
    text-decoration: none;
}

#section-aboutME {
    grid-area: aboutME;
    background: #248EA6;
    color: #FAF6F3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}

#btnAM {
    margin-top: 15px;
    background-color: #FADC3B;
    font-size: 20px;
    width: 18%;
    margin: auto;
}

/***************ABOUT SITE SECTION************/
#section-aboutSITE a:link,
a:visited {
    color: #000100;
    text-decoration: none;
}

#section-aboutSITE {
    margin-top: 10px;
    grid-area: aboutSite;
    color: #000100;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: center;
    align-items: center;
    text-align: center;
    border: solid 2px #E9302C;
}

/*#section-aboutSITE :hover {}*/

#btnAS {
    margin-top: 15px;
    background-color: #FADC3B;
    font-size: 20px;
    width: 18%;
    margin: auto;
}

/***************THEMES SECTION************/
#section-Themes a:link,
a:visited {
    color: #000100;
    text-decoration: underline;
}

#section-Themes :hover {
    background-color: #FADC3B;
}

#section-Themes {
    grid-area: themes;
    background: #F2F2F2;
    border: solid 2px #FADC3B;
    width: 100%;
}

#section-Themes h2 {
    /*    color: 2F2420;*/
    color: #000100;
}

#themesTitle {
    grid-area: themesTitle;
    text-align: center;
}

.themeContainers {
    grid-area: container;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "themeHeader img"
        ". txt";
}

.themesTxt {
    grid-area: txt;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    vertical-align: middle;
    text-align: left;
}

.themeHeader {
    margin: 0;
    grid-area: themeHeader;
    align-self: center;
    text-align: center;
    display: block;
}

.themesImg {
    grid-area: img;
    height: 200px;
    /* placeholder height*/
    width: 100%;
}

/***************FOOTER SECTION************/
#footer {
    grid-area: footer;
    background: #000100;
    color: #FAF6F3;
    width: 100%;
    margin: 0;
}

/***************ARTICLE PAGES BELOW************/
/*************ARTICLE CLASSES BELOW************/
.pageWrapper {
    display: grid;
    grid-template-columns: 0.5fr 13fr 0.5fr;
    grid-template-areas:
        " nav nav nav "
        " mainImg mainImg mainImg "
        " . articleTitle ."
        " . articleSection ."
        " footerAS footerAS footerAS ";
    width: 100%;
}

.mainImg {
    grid-area: mainImg;
    width: 100%;
    height: 722px;
    display: block;
}

.articleTitle {
    grid-area: articleTitle;
    text-align: center;
    display: block;
}

.articleSection {
    grid-area: articleSection;
    padding: 0% 10% 10% 10%;
    display: grid;
}

.asImgDiv {
    align-items: center;
    align-content: center;
    vertical-align: middle;
    align-self: center;
    padding-left: 50%;
}

.footer {
    grid-area: footerAS;
    display: block;
    width: 100%;
    position: absolute;
    margin: 0;
    margin-bottom: 0;
    background: #000100;
    color: #FAF6F3;
}

/*************THEMES LANDING PAGE BELOW************/

/***************MEDIA QUERIES************/
@media screen and (max-width: 768px) and (min-width: 375px) {
    p {
        font-size: 12px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    #linkContainer ul li {
        font-size: 15px;
    }

    #bodyWrapper {
        display: grid;
        grid-template-columns: 0.01fr 1fr 0.01fr;
        grid-template-areas:
            " nav nav nav "
            " header header header "
            " . aboutME . "
            " . aboutSite . "
            " . themes . "
            " footer footer footer ";
        grid-row-gap: 20px;
        width: 100%;
        height: 100%;
        background-color: #F2F2F2;
        background-image: url(Assets/images/LARGE/1x/bodyBG.png);
        background-blend-mode: color;
    }

    #linkContainer a:link {
        color: #FAF6F3;
        background-color: #000100;
        padding: 1px 4px;
        text-decoration: none;
        display: inline-block;
    }

    #linkContainer a:visited {
        color: #FAF6F3;
        background-color: #000100;
        padding: 1px 4px;
        text-decoration: none;
        display: inline-block;
    }


    #linkContainer a:hover,
    a:active {
        background-color: #e9302c;
        color: #FAF6F3;
    }

    #logo img {
        height: 50px;
        left: 50%;
    }

    #header img {
        width: 100%;
        height: 263px;
        align-self: center;
        margin: 0;
    }

    #headerTextwrapper {
        overflow: hidden;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #headerTextwrapper h1 {
        font-size: 30px;
        color: #e9302c;
        background-color: #fffa;
    }

    #section-aboutME {
        width: 100%;
    }

    #section-aboutSITE {
        width: 100%;
    }

    .pageWrapper {
        display: grid;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-areas:
            " nav nav nav "
            " mainImg mainImg mainImg "
            " . articleTitle ."
            " . articleSection ."
            " footerAS footerAS footerAS ";
        height: 100%;
        width: 100%;
    }

    .mainImg {
        width: 100%;
        height: 263px;
        display: block;
    }
}

@media screen and (max-width: 375px) {
    p {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 14px;
    }

    #linkContainer ul li {
        font-size: 10px;
    }

    #bodyWrapper {
        display: grid;
        grid-template-columns: 0.01fr 1fr 0.01fr;
        grid-template-areas:
            " nav nav nav "
            " header header header "
            " . aboutME . "
            " . aboutSite . "
            " . themes . "
            " footer footer footer ";
        grid-row-gap: 20px;
        width: 100%;
        height: 100%;
        background-color: #F2F2F2;
        background-image: url(Assets/images/LARGE/1x/bodyBG.png);
        background-blend-mode: color;
    }
    #linkContainer a:link {
        padding: 6px 2px;
    }

    #linkContainer a:visited {
        padding: 6px 2px;
    }

    #logo img {
        height: 50px;
        left: 50%;
    }

    #header img {
        width: 100%;
        height: 213px;
        align-self: center;
        margin: 0;
    }

    #headerTextwrapper {
        overflow: hidden;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #headerTextwrapper h1 {
        font-size: 20px;
        color: #e9302c;
        background-color: #fffa;
    }

    #section-aboutME {
        width: 100%;
    }

    #btnAM {
        margin-top: 15px;
        background-color: #FADC3B;
        font-size: 15px;
        width: 18%;
        margin: auto;
    }

    #section-aboutSITE {
        width: 100%;
    }

    #btnAS {
        margin-top: 15px;
        background-color: #FADC3B;
        font-size: 15px;
        width: 18%;
        margin: auto;
    }

    .themeContainers {
        grid-area: container;
        width: 100%;
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-areas: "themeHeader";
        height: 140PX;
    }
    .themeHeader {
        display: block;
        width: 100%;
        margin-top: 40px;
        font-size: 20px;
    }
    .themesImg {
        display: none;
    }

    .themesTxt {
        display: none;
    }

    .footer {
        width: 100%;
    }

    .mainImg {
        width: 100%;
        height: 263px;
    }

    .articleSection img {
        width: 100px;
        align-items: center;
    }
}
